body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    padding: 0px;
    background-color: aliceblue;
}

.header{
    background-color: antiquewhite;
    color: #0056b3;
    padding: 10px 0px;
    text-align: center;
}


.button:hover{
    background-color: #0056b3;
}